@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($direction, $justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin font-source(
  $family,
  $size: false,
  $colour: false,
  $weight: false,
  $lh: false
) {
  font-family: $family;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
}

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
